/* impostazioni di reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* general */
main{
    background-color: #102f45;
}
.main_title{
    padding: 1rem;
    color: white;
    text-align: center;
}
.container{
    margin:auto;
    width: 60%;
    background-color: white;
}
img{
    width: 100%;
}
/* card */
.card{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.icon_image{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}
.icon_container{
    display: flex;
}
.id_container{
    padding-left: 1rem;
}
.content{
    width: 100%;
    padding-top: 2rem;
}
.post_image{
    padding-top: 2rem;
    height: 30rem;
}
.button_counter{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}